header {
   display: inline;
   
}

.main-page-btn{
   position: absolute;
   margin: 3px;
}
.search-bar{
   position: relative;
   margin-left: 90px;
}
.menu-btn{
   position: relative;
   margin-left: 50px;
}
.upload-btn{
   position: relative;
   margin-left: 50px;
}
.apps-btn{
   position: relative;
   margin-left: 50px;
}
.not-btn{
   position: relative;
   margin-left: 50px;
}
.sign-in-btn{
   position: relative;
   margin-left: 50px;
}
.video-player-section{

}