*{
   box-sizing: border-box;
   cursor: pointer;
   font-family: 'Roboto', sans-serif;
   
}
body {
   font-family: 'Montserrat', sans-serif;
   margin: 20px auto;
   border: 2px solid gray;
   background-color:#EEEEEE;
   min-width: 1152px;
   width:1152px;
}

.section-title { 
   color: #FFFFFF;
}
.main-header {
   width: 100%;
   display: block;
   background-color:#FFFFFF;
   padding: 8px 16px;
}
section {
   width: 22%;
}
main {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
  
}

.main-header > div {
   display: inline-block;
   vertical-align: middle
   
}

#logo {
   height:50px;
   vertical-align: middle;
}
.fas {
   vertical-align: middle;
   color: #7f7f7f;
   font-size: 20px;
   margin: 0 4px;
}
.main-nav {
   display: inline-flex ;
}
.main-nav__search {
   align-items: center;
}
#main-nav__search {
   display: inline-flex;
   width: 500px;
   height: 31px;
   box-shadow: 1px;
   padding: 0px 4px;
   border: 1px solid #cccccc;
   margin-left: 100px;
   
}
.icons {
   display: inline-flex; 
   color: none; 
   font-size: 31px;
   margin: 0 4px;
   padding: 0 0px;
   height: 20px;
   border: none;
 }
 .blue-box {
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 0 6px;
    border: 10px solid #167AC6;
    border-radius: 3px;
    background-color: #167AC6;
    margin: 1px 0 0 150px;
 }
 .sub-header {
      width: 100%;
      display: inline-block;
      background-color:#FFFFFF;
      margin-top: 15px;
      margin-bottom: 20px;
      border: 2px solid #167AC6;
      
   }
.sub-header_blue {
   background-color: #167AC6;
   margin: 0px;
   font-size: 13px;
   font-weight: bold;
   color: white;
   padding: 10px 10px;
   

}
.text-blue {
   color: #167AC6;
}
#par-blue {
   color: #167AC6;
   font-size: 12px;
   margin: 8px 0px 0px 550px;
   text-align: right;
   display: inline-flex;
 
}
#sub-header_white {
   font-size: 13px;
   display: inline-block;
   padding: 10px 20px;
}


.left-side{
   display: flex;
  flex-direction: column;
  width: 768px;
}
.video-info{
   background-color: #FFFFFF;
   padding: 5px 15px 0px 5px;
   min-height: 150px;
   margin: 0 0 0 0px;
   color: black;
   font-style: normal;
   border: 1px solid grey;
   width: 100%;
}

.video-info > h1 {
   font-size: 20px;
   font-weight: 500;
   display: flex;
   flex-direction: column;
}
.lower-info > p {
   display: flex;
  flex-direction: column;
   font-size: 120%;
   color: #666666;
   border-bottom: 1px solid grey;
   padding-bottom: 19px;
   text-align: right;
   border-bottom: 2px solid  #167AC6;
}
.upper-info {
   display: flex;
}

#profile-btn {
   height: 50px;
}
#profile-name {
   font-size: 12px;
   padding-left: 5px;
   font-weight: lighter;
   
}
.suscribe-btn {
   display: flex;
   height: 25px;
   padding: 0px 3px 0 0;
   margin: 6px 0 0 4px;
   border: 0px grey solid;
   background-color: #FAFAFA;
   
}
.suscribe-btn > p {
   font-size: 11px;
   padding: 0 6px;
   margin: 4px 0 0px 0;
   color: slategray;
   
   
}
#upload-icon{

   height: 31px;
   border: none;
   padding: 0px;
}
#like-dislike-upload {
   height: 31px;
   border: none;
   padding: 0px;
   margin-left: 50px;
}
#suscribe-btn-img{
   height: 20px;
}
#add-share-more-like-dislike {
   height: 50px;
   display: flex;
}
.add-share-more-like-dislike-btn{
   display: inline-flex;
     border: none;
   padding: 0px;
   margin: -10px 6px;
}
.add-share-more-like-dislike-btns{
   border: none;
   padding: 0px;
   margin: -10px 6px;
}
.side-bar {
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   border: 1px solid grey;
   align-items: flex-end;
   margin: 0px 0px 0px 9px;
   width: max-content;
   height: 900px;
}
.side-bar__items {
   display: flex;
   flex-wrap: wrap;
   margin: 10px 10px;
   background-color: #ffffff;

}
.side-bar__info{
font-size: 8px;
width: 180px;
display: flex;
flex-direction: column;
}
.side-bar__info > h2 {
   margin: 1px 0px 8px 5px;
}
.side-bar__info > p {
   margin: 1px 0px 4px 4px;
   font-size: 9px;
   color: #666666
}

.description {
   display: block;
   border: 1px solid grey;
   width: 768px;
   height: auto;
   background: white;
   color: black;
   font-size: 14px;
   font-style: normal;
   padding-bottom: 5px;
   position: absolute;
   top: 900px;
}
#show-more {
   text-align: center;
   font-size: 80%;
   color: gray;
}
footer {
   width: 100%;
   display: block;
   background-color:#FFFFFF;
   padding: 8px 16px;
   margin-top: 1500px;
   margin-bottom: 20px;
}
.settings-btns {
   border: 1px solid grey;
   font-weight: lighter;
   font-family: Arial;
   font-size: 12px;
}
.local-link {
   display: inline-block;
   color: black;
   font-weight: bold;
   padding: 0px 5px;
   font-size: 12px;
   font-style: normal;
   font-family: Arial;
}